* {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

body {
    background-color: #84a5d4;
    padding-bottom: 100px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.tariffs {
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin: 100px auto 0 auto;
    background-color: white;
    max-width: 900px;
    padding: 25px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 35px 0 rgba(0,0,0, 0.4);
    -moz-box-shadow: 0 10px 35px 0 rgba(0,0,0, 0.4);
    box-shadow: 0 10px 35px 0 rgba(0,0,0, 0.4);
}

.tariffs__item  {
    -webkit-flex-basis: 33.3333%;
    flex-basis: 33.3333%;
    padding: 15px 35px;
}

.tariffs__item:hover  {
    background-color: #f5f5f5;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
;
}

.tariff__title {
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3px;
    color: #6073d6;
}

.tariff__title:before {
    text-align: center;
    display: block;
    margin: 0 auto 30px auto;
    content: '';
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

.tariff__title_mobile:before {
    background-image: url(./img/device.svg);
}

.tariff__title_desktop:before {
    background-image: url(./img/laptop.svg);
}

.tariff__title_tv:before {
    background-image: url(./img/monitor.svg);
}

.tariff__description {
    text-align: center;
    line-height: 22px;
    color: #a6a6a6;
    font-size: 14px;
}

.tariff__price {
    text-align: center;
    color: #6073d6;
}

.tariff-price__value {
    position: relative;
    font-size: 30px;
    font-weight: 500;
}

.tariff-price__period {
    font-size: 12px;
    margin-left: -2px;
}

.tariff-price__currency {
    position: relative;
    top: -9px;
    left: 4px;
    font-weight: 500;
    font-size: 15px;
}

.price {
    position: relative;
}

.price:before {
    position: absolute;
    content: '\0024';
    top: 5px;
    left: -10px;
    font-size: 15px;
}


@media (max-width: 767px) {
    .tariffs {
        max-width: 300px;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

